/modely-test/node_modules/
/program/tbuis/
/program/reports/
/program/.env
/program/log.html
/program/output.xml
/program/report.html
/program/o-err.xml
/program/__pycache__/
new-doc/dp.acn
new-doc/dp.acr
new-doc/dp.alg
new-doc/dp.aux
new-doc/dp.bbl
new-doc/dp.bcf
new-doc/dp.bib
new-doc/dp.fdb_latexmk
new-doc/dp.fls
new-doc/dp.glg
new-doc/dp.glo
new-doc/dp.gls
new-doc/dp.ist
new-doc/dp.lof
new-doc/dp.log
new-doc/dp.lol
new-doc/dp.lot
new-doc/dp.out
new-doc/dp.run.xml
new-doc/dp.synctex.gz
new-doc/dp.toc
new-doc/gloss.aux
new-doc/gloss.fdb_latex
